body{
    margin:0;
    background-color: #EBF0FF;
  
}
 
.appointments-list, th, td{
      
  text-align: left;
  height: 30px;
  padding-left: 30px;
  height: 56px;
  width: 1110px;
  border-bottom: 1px solid #E8E8E8;
 }

  .List-Header{
    font-weight: bold;
  }

  .appointments-list{
      border-collapse:collapse;
      width: 100%;
      padding: 0px 5px 5px;
      margin-left: 8px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #25282b;
      background-color: #FFFFFF;
      
  }
 
  .Container{
    z-index: 2;
    font-family: 'Lato', sans-serif;
    margin-left: 180px; /* Same as the width of the sidenav */
    margin-top: 70px;
    position: relative;
    padding: 0px 33px;
  }
  .list-elements h2{
    height: 46px;
    width: 259px;
    border-radius: nullpx;
    /* //styleName: H2 - bold 40 (46, 0.2px); */
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
  }

  .Delete-icon{
      color: tomato;
      padding: 0 3px 0 3px;
  }
  .Delete-icon:hover{
      color: red;
  }

  .Edit-icon{
      color: white;
      padding: 0 3px 0 3px;
  }
  .Edit-icon:hover{
      color: black;
  }